.redHighlights{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: auto;
    overflow: hidden;
}
.redHighlight{
    position: relative;
    float: left;
    text-align: center;
    width: 49%;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 25px;
    padding-bottom: 30px;
}
.redHighlightLogo{
    display: block;
    position: relative;
    margin: 0px auto;
    width: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#wineTitle{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 110px;
    margin-top: 30px;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 120px;
    letter-spacing: 5px;
}
#wineImg{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: auto;
}
#brownLogo{
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    width: 150px;
    margin-bottom: 40px;
}
#wineSubtitle{
    position: relative;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    margin-bottom:35px;
}
#wineText{
    position: relative;
    width: 64%;
    margin-left: 18%;
    line-height: 22px;
}
#familyLogo{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 215px;
    margin-bottom: 50px;
}
.imageLogo{
    width:120px;
}