  .centeredContent{
    width:100%;
}
#footerContainer{
    min-width: 0px;
    width: 100%;
    height: 518px;
}
#footerInferiorBar{
    min-width: 0px;
    width: 100%;
}
#coverMenuIcon {
    position: relative;
    float: right;
    margin-right: 24px;
    margin-top: 11px;
    z-index: 2;
}  
#headerContainer{
    position: relative;
    
}
#contactName {
    border: 1px solid white;
    color: white;
    width: 90%;
    margin-left: 0%;
}
#footerCol3 {
    position: relative;
    display: block;
    margin-top: 30px;
    float: left;
    margin-left: 5%;
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 18px;
    
}
.contactInput{
    margin-left: 0%;
}
#contactSend {
    margin-left: 0%; 
}
#footerCol1 {
    position: relative;
    display: block;
    float: none;
    margin-left: 20%;
    width: 61%;
}
.footerRow2 {
    margin-left: 3%;
}
.footerRow3 {
    margin-left: 6px;
}
.footerRow4 {
    margin-top: 5px;
    margin-left: 16px;
}
#footerLogoImage {
    height: 55px;
    float: left;
    margin-left: 42%;
    margin-top: 5px;
}
#footerInferiorBar {
    height: 25px;
}
#footerInferiorBarCol1 {
    margin-top: 6px;
    margin-left: 20%;
    font-size: 12px;
}
#footerDummy {
    position: relative;
    width: 100%;
    height: 394px;
}
.projectImageOverlay{
}
#headerSuperiorMenuImage{
    margin: 7px 12px;
    z-index: 2;
}
#headerSuperiorDesplegableMenu{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 48px;
    border: 1px solid white;
    height: 0px;
    overflow: hidden;
    
}
.headerSuperiorMenuRow{
    position: relative;
    height: 70px;
    overflow: hidden;
}
.menuSep{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.menuTitle{
    position: relative;
    text-align: center;
    margin-top: 27px;
}
#coverContainer {
    overflow: hidden;
}